@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;

  /* Making lg px higher, so the "md" layout lasts longer */
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1600px;
}

html,
body {
 background-color: color-mix(in oklab, var(--color-black) 95%, transparent);
  color: #ffffff;
  overscroll-behavior-y: contain;
  min-height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh;
  background-color: color-mix(in oklab, var(--color-black) 95%, transparent);
}
